header {
    background: $medium-tan;
    h1 {
        color: $blue;
    }
    text-transform: UPPERCASE;
    a {
    color: $dark-tan;
        font-size: 1.6em;
    }
    a:hover {
        color: $orange;
    }
    ul {
        padding: 0 2em;
        .logo {
            font-size: 2em;
            padding: 0;
            padding-top: 0.6em;
            width: 30%;
            .orange {
                color: $orange;     
            }
        }
        .search {
            width:25%;
           input[type="search"] {
                width: 200px;
            } 
        }
    }
    ul li {
        float:left;
        width: 15%;
        padding: 2.2em 0 1.6em;
    }
}

header .mobile {
    display: none;
    .mobile-logo {
        width: 50%;
    }
    .menu-trigger {
        padding: 1em;
    }
}

#slideMenu {
    display: none;
}

#jPanelMenu-menu {
    ul li {
        padding: 0.5em 1em;
        font-size: 2em;
        border-bottom: 1px solid $dark-tan;
        a {
        color: $dark-tan;
        } 
    }
}