@media (max-width: 1140px) {
    h1 {
        font-size: 5em;
    }
}

@media (max-width: 480px) {
    
    h1 {
        font-size: 3em;
    }
     h1:before {
        width:40px;
        height:100px;
        background:url('../img/sprite.png') -100px -37px no-repeat;
    }
    
    h2 {
        font-size: 2.8em;
    }
    
    h3 {
        font-size: 1.8em;
    }
    
    h4 {
        font-size: 1.5em;
    }
    
    header {
        .desktop {
            display: none;
        }
        
        .mobile {
            display: block;
            height: 60px;
            background: $medium-tan;
        }
    }
    
    .hero {
        .hero-right {
            width: 96%;
            margin: 0 2%;
            padding: 0;
            text-align:center;
        }
        .hero-left {
            width: 96%;
            margin: 0 2%;
            ul li {
                padding: 0 2%;
            }
        }
        .hero-right img {
            display: none;
        }
        .hero-right h3 {
            color: $white;
            font-size: 2em;
        }
        h1:before {
            background: none;
            height: 0;
            width: 0;
        }
    }
    
    .blue-bar {
        .create, .add, .share, .like, .subscribe {
            width: 40%;
            padding: 1.5em 5%;
        }
        .share {
            width: 46%;
            padding: 0 24%;
        }
        ul strong {
            display: inline;
        }
    }
    
    .submit-recipes {
        ul {
            padding: 0;
        }
        .recipe {
        width: 96%;
        margin: 2%;
    }
}
        .enter-now {
            button {
                width: 95%;
            border-radius: 5px;
            padding: 1em 2em;
            }
        }
    .prizes {
        .prize {
            width: 100%;
        }
    }
}

