@media (max-width: 1140px) {
    h1 {
        font-size: 5em;
    }
}

@media (max-width: 480px) {

    h2 {
        font-size: 2.2em;
    }
    
    h3 {
        font-size: 1.4em;
    }
    
    h4 {
        font-size: 1.2em;
    }
    
    header {
        h1 {
        font-size: 2.6em;
        }
        h1:before {
            width:40px;
            height:100px;
            background:url('../img/sprite.png') -100px -40px no-repeat;
        }
        .desktop {
            display: none;
        }
        
        .mobile {
            display: block;
            height: 50px;
            background: $medium-tan;
        }
    }
    
    .hero {
        h1, h3 {
            text-align:Center;    
        }
        .hero-right {
            width: 96%;
            margin: 0 2%;
            padding: 0;
            text-align:center;
        }
        .hero-left {
            width: 96%;
            margin: 0 2%;
            ul li {
                padding: 0 2%;
            }
        }
        .hero-right img {
            display: none;
        }
        .hero-right h3 {
            color: $white;
            font-size: 2em;
        }
        h1:before {
            background: none;
            height: 0;
            width: 0;
        }
    }
    
    .blue-bar {
        .create, .add, .share, .like, .subscribe {
            width: 40%;
            padding: 1.5em 5%;
        }
        .share {
            width: 55%;
            padding: 0 23%;
        }
        ul strong {
            display: inline;
        }
    }
    
    .submit-recipes {
        ul {
            padding: 0;
        }
        .recipe {
        width: 96%;
        margin: 2%;
    }
}
        .enter-now {
            button {
                width: 95%;
            border-radius: 5px;
            padding: 1em 2em;
            }
        }
    .prizes {
        .prize {
            width: 100%;
        }
    }
}

