.hero {
    background: URL('../img/hero-bg.jpg') no-repeat;
    background-position: 50% 60%;
    background-size: cover;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box; 
    color: $blue;
    .hero-left {
        width: 40%;
        float: left;
    }
    .hero-left {
        strong {
            font-weight: bold;
        }
        ul {
            margin-left: 2em;
            margin-bottom: 2em;
        }
        ul li {
            font-size: 1.2em;
            width: 45%;
            float: left;
        }
    }
    .hero-right {
        padding-top: 5em;
        width: 60%;
        float: left;
        img {
            width: 100%;
            height: auto !important;
            animation: water 20s linear infinite;
            -webkit-animation: water 20s linear infinite; /* Safari and Chrome */
            transform: rotateX(45deg);
        }
        h3 {
            text-align: center;
            margin-bottom: 30px;
        }
    }
}

@-webkit-keyframes water {
   0% {transform:rotate(0deg);
       -ms-transform:rotate(0deg); /* IE 9 */
       -webkit-transform:rotate(0deg); /* Safari and Chrome */
       }
   50% {transform:rotate(5deg);
       -ms-transform:rotate(5deg); /* IE 9 */
       -webkit-transform:rotate(5deg); /* Safari and Chrome */
       }
   100% {transform:rotate(0deg);
       -ms-transform:rotate(0deg); /* IE 9 */
       -webkit-transform:rotate(0deg); /* Safari and Chrome */
       }
}

@keyframes water {  
  0% {transform:rotate(0deg);
       -ms-transform:rotate(0deg); /* IE 9 */
       -webkit-transform:rotate(0deg); /* Safari and Chrome */
       }
   50% {transform:rotate(5deg);
       -ms-transform:rotate(5deg); /* IE 9 */
       -webkit-transform:rotate(5deg); /* Safari and Chrome */
       }
   100% {transform:rotate(0deg);
       -ms-transform:rotate(0deg); /* IE 9 */
       -webkit-transform:rotate(0deg); /* Safari and Chrome */
       }
}

.blue-bar {
    background: $blue;
    color: $white;
    .create {
        width: 12%;
        padding-right:6%;
        padding-left:3%;
    }
    .create:before {
        content:"";
        float:left;
        width:30px;
        height:50px;
        background:url('../img/sprite.png') -20px 0 no-repeat;  
    }
    .add {
        width: 15%;
        padding-right:6%;
    }
    .add:before {
        content:"";
        float:left;
        width:60px;
        height:50px;
        background:url('../img/sprite.png') -50px 0 no-repeat;   
    }
    .share {
        width: 21%;
        padding-right:6%;
    }
    .share:before {
        content:"";
        float:left;
        width:60px;
        height:50px;
        background:url('../img/sprite.png') -110px 0 no-repeat;   
    }
    .like {
        width: 8%;
        padding-right:6%;
    }
    .like:before {
        content:"";
        float:left;
        width:22px;
        height:50px;
        background:url('../img/sprite.png') 0 0 no-repeat;  
    }
    .subscribe {
        width: 15%;
    }
    .subscribe:before {
        content:"";
        float:left;
        width:60px;
        height:50px;
        background:url('../img/sprite.png') -170px 0 no-repeat;  
    }
    ul {
        width:100%;
    }
    ul strong {
        display: block;
        font-weight: bold;
    }
    ul li {
        float: left;
        padding: 1em 0;
    }
}

.heroes-at-home {
    background: $orange;
    text-align: center;
    color: $white;
    .text-style-1 {
        font-size: 0.8em;
    }
    .text-style-2 {
        font-style: italic;
    }
}

.submit-recipes {
    padding: 2em 0;
    ul {
        padding: 1em 0;
    }
    .recipe {
        background: $white;
        margin-right: 2%;
        -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	   -moz-box-sizing: border-box;    /* Firefox, other Gecko */
	   box-sizing: border-box;  
        width: 23%;
        float: left;
        border: 1px solid $light-gray;
        padding: 0.5em;
        img {
            width: 100%;
            height: auto !important;
        }
        &:first-child {
            margin-left: 1%;
        }
        &:last-child {
            margin-right: 0;
        }
    }
}

.prizes {
    padding: 2em 0;
    background: $white;
     ul {
        padding: 1em 0;
    }
    .prize {
        background: $white;
        -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	   -moz-box-sizing: border-box;    /* Firefox, other Gecko */
	   box-sizing: border-box;  
        width: 33%;
        float: left;
        padding: 0.5em;
        img {
            width: 100%;
            height: auto !important;
        }
        &:last-child {
            margin-right: 0;
        }
    }
}

.enter-now {
    text-align:center;
    padding: 4em 0;
    margin-bottom: 200px;
    button {
        color: $white;
        background: $orange;
        box-shadow: 1px 2px 1px $gray;
        border: none;
        font-size: 1.6em;
        cursor: pointer;
        padding: 0.5em 2em;
        border-radius: 15px;
    }
}