$dark-tan:           #7c7b78;          
$medium-tan:         #f1ede3;       
$light-tan:          #f7f6f1;
$orange:             #e9633a;
$blue:               #0a2852;
$white:              #fff;
$light-gray:         #ccc;
$gray:               #7c7b78;
$black:              #000;