/*********************************
*
*  Reset Styles
*
*********************************/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*********************************
*
*  Variables
*
*********************************/
/*********************************
*
*  General CSS
*
*********************************/
body {
  background: #f7f6f1;
  font-family: "Tw Cen MT Kenmore Bold", "Tw Cen MT", "Helvetica Neue", helvetica, arial;
  font-size: 62.5%;
  color: black; }

.inner {
  max-width: 1140px;
  margin: 0 auto; }

.group:before,
.group:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }

.group:after {
  clear: both; }

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.group {
  *zoom: 1; }

.left {
  float: left; }

.right {
  float: right; }

/*********************************
*
*  Typography
*
*********************************/
a {
  text-decoration: none; }

p, ul {
  font-size: 1.3em; }

h1 {
  margin-top: 0.2em;
  margin-left: 0.5em;
  font-size: 6em; }

h1:before {
  content: "";
  float: left;
  width: 95px;
  height: 100px;
  background: url("../img/sprite.png") 0 -40px no-repeat; }

h2 {
  text-align: center;
  padding: 1em 0;
  font-size: 3.8em; }

h3 {
  font-size: 3em;
  margin-bottom: 2em; }

h4 {
  font-size: 2.2em;
  padding: 0.8em 0; }

h5 {
  color: #e9633a;
  font-size: 1.6em;
  font-weight: bold;
  padding: 1em 0 0.5em 0; }

/*********************************
*
*  Header Styles
*
*********************************/
header {
  background: #f1ede3;
  text-transform: UPPERCASE; }
  header h1 {
    color: #0a2852; }
  header a {
    color: #7c7b78;
    font-size: 1.6em; }
  header a:hover {
    color: #e9633a; }
  header ul {
    padding: 0 2em; }
    header ul .logo {
      font-size: 2em;
      padding: 0;
      padding-top: 0.6em;
      width: 30%; }
      header ul .logo .orange {
        color: #e9633a; }
    header ul .search {
      width: 25%; }
      header ul .search input[type="search"] {
        width: 200px; }
  header ul li {
    float: left;
    width: 15%;
    padding: 2.2em 0 1.6em; }

header .mobile {
  display: none; }
  header .mobile .mobile-logo {
    width: 50%; }
  header .mobile .menu-trigger {
    padding: 1em; }

#slideMenu {
  display: none; }

#jPanelMenu-menu ul li {
  padding: 0.5em 1em;
  font-size: 2em;
  border-bottom: 1px solid #7c7b78; }
  #jPanelMenu-menu ul li a {
    color: #7c7b78; }

/*********************************
*
*  Section Styles
*
*********************************/
.hero {
  background: URL("../img/hero-bg.jpg") no-repeat;
  background-position: 50% 60%;
  background-size: cover;
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */
  box-sizing: border-box;
  color: #0a2852; }
  .hero .hero-left {
    width: 40%;
    float: left; }
  .hero .hero-left strong {
    font-weight: bold; }
  .hero .hero-left ul {
    margin-left: 2em;
    margin-bottom: 2em; }
  .hero .hero-left ul li {
    font-size: 1.2em;
    width: 45%;
    float: left; }
  .hero .hero-right {
    padding-top: 5em;
    width: 60%;
    float: left; }
    .hero .hero-right img {
      width: 100%;
      height: auto !important;
      animation: water 20s linear infinite;
      -webkit-animation: water 20s linear infinite;
      /* Safari and Chrome */
      transform: rotateX(45deg); }
    .hero .hero-right h3 {
      text-align: center;
      margin-bottom: 30px; }

@-webkit-keyframes water {
  0% {
    transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    /* IE 9 */
    -webkit-transform: rotate(0deg);
    /* Safari and Chrome */ }

  50% {
    transform: rotate(5deg);
    -ms-transform: rotate(5deg);
    /* IE 9 */
    -webkit-transform: rotate(5deg);
    /* Safari and Chrome */ }

  100% {
    transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    /* IE 9 */
    -webkit-transform: rotate(0deg);
    /* Safari and Chrome */ } }

@keyframes water {
  0% {
    transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    /* IE 9 */
    -webkit-transform: rotate(0deg);
    /* Safari and Chrome */ }

  50% {
    transform: rotate(5deg);
    -ms-transform: rotate(5deg);
    /* IE 9 */
    -webkit-transform: rotate(5deg);
    /* Safari and Chrome */ }

  100% {
    transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    /* IE 9 */
    -webkit-transform: rotate(0deg);
    /* Safari and Chrome */ } }

.blue-bar {
  background: #0a2852;
  color: white; }
  .blue-bar .create {
    width: 12%;
    padding-right: 6%;
    padding-left: 3%; }
  .blue-bar .create:before {
    content: "";
    float: left;
    width: 30px;
    height: 50px;
    background: url("../img/sprite.png") -20px 0 no-repeat; }
  .blue-bar .add {
    width: 15%;
    padding-right: 6%; }
  .blue-bar .add:before {
    content: "";
    float: left;
    width: 60px;
    height: 50px;
    background: url("../img/sprite.png") -50px 0 no-repeat; }
  .blue-bar .share {
    width: 21%;
    padding-right: 6%; }
  .blue-bar .share:before {
    content: "";
    float: left;
    width: 60px;
    height: 50px;
    background: url("../img/sprite.png") -110px 0 no-repeat; }
  .blue-bar .like {
    width: 8%;
    padding-right: 6%; }
  .blue-bar .like:before {
    content: "";
    float: left;
    width: 22px;
    height: 50px;
    background: url("../img/sprite.png") 0 0 no-repeat; }
  .blue-bar .subscribe {
    width: 15%; }
  .blue-bar .subscribe:before {
    content: "";
    float: left;
    width: 60px;
    height: 50px;
    background: url("../img/sprite.png") -170px 0 no-repeat; }
  .blue-bar ul {
    width: 100%; }
  .blue-bar ul strong {
    display: block;
    font-weight: bold; }
  .blue-bar ul li {
    float: left;
    padding: 1em 0; }

.heroes-at-home {
  background: #e9633a;
  text-align: center;
  color: white; }
  .heroes-at-home .text-style-1 {
    font-size: 0.8em; }
  .heroes-at-home .text-style-2 {
    font-style: italic; }

.submit-recipes {
  padding: 2em 0; }
  .submit-recipes ul {
    padding: 1em 0; }
  .submit-recipes .recipe {
    background: white;
    margin-right: 2%;
    -webkit-box-sizing: border-box;
    /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;
    /* Firefox, other Gecko */
    box-sizing: border-box;
    width: 23%;
    float: left;
    border: 1px solid #cccccc;
    padding: 0.5em; }
    .submit-recipes .recipe img {
      width: 100%;
      height: auto !important; }
    .submit-recipes .recipe:first-child {
      margin-left: 1%; }
    .submit-recipes .recipe:last-child {
      margin-right: 0; }

.prizes {
  padding: 2em 0;
  background: white; }
  .prizes ul {
    padding: 1em 0; }
  .prizes .prize {
    background: white;
    -webkit-box-sizing: border-box;
    /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;
    /* Firefox, other Gecko */
    box-sizing: border-box;
    width: 33%;
    float: left;
    padding: 0.5em; }
    .prizes .prize img {
      width: 100%;
      height: auto !important; }
    .prizes .prize:last-child {
      margin-right: 0; }

.enter-now {
  text-align: center;
  padding: 4em 0;
  margin-bottom: 200px; }
  .enter-now button {
    color: white;
    background: #e9633a;
    box-shadow: 1px 2px 1px #7c7b78;
    border: none;
    font-size: 1.6em;
    cursor: pointer;
    padding: 0.5em 2em;
    border-radius: 15px; }

/*********************************
*
*  Media Queries
*
*********************************/
@media (max-width: 1140px) {
  h1 {
    font-size: 5em; } }
@media (max-width: 800px) {
  h2 {
    font-size: 2.2em; }

  h3 {
    font-size: 1.4em; }

  h4 {
    font-size: 1.2em; }

  header h1 {
    font-size: 2.6em; }
  header h1:before {
    width: 40px;
    height: 100px;
    background: url("../img/sprite.png") -100px -40px no-repeat; }
  header .desktop {
    display: none; }
  header .mobile {
    display: block;
    height: 50px;
    background: #f1ede3; }

  .hero h1, .hero h3 {
    text-align: Center; }
  .hero .hero-right {
    width: 96%;
    margin: 0 2%;
    padding: 0;
    text-align: center; }
  .hero .hero-left {
    width: 96%;
    margin: 0 2%; }
    .hero .hero-left ul li {
      padding: 0 2%; }
  .hero .hero-right img {
    display: none; }
  .hero .hero-right h3 {
    color: white;
    font-size: 2em; }
  .hero h1:before {
    background: none;
    height: 0;
    width: 0; }

  .blue-bar .create, .blue-bar .add, .blue-bar .share, .blue-bar .like, .blue-bar .subscribe {
    width: 40%;
    padding: 1.5em 5%; }
  .blue-bar .share {
    width: 55%;
    padding: 0 23%; }
  .blue-bar ul strong {
    display: inline; }

  .submit-recipes ul {
    padding: 0; }
  .submit-recipes .recipe {
    width: 96%;
    margin: 2%; }

  .enter-now button {
    width: 95%;
    border-radius: 5px;
    padding: 1em 2em; }

  .prizes .prize {
    width: 100%; } }
